@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;600;700&display=swap');
* {
  box-sizing: border-box;
}
 
html,
body {
  width: 100%;
  height: 110%;
  margin: 0;
  background-color: #7EC855;
  font-family: 'Roboto', sans-serif;
}

nav{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
}
.logo_content{
  width: 20px;
  height: 32px;
}
.logo_content .compay_logo{
  width: 300%;
  height: 160%;
  object-fit: cover;
}
.nav_content{
  display: flex;
  list-style: none;
  
}
.nav_content .nav_links{
  padding: 0 20px;
  color: rgb(99, 99, 99);
  text-transform: capitalize;
  font-size: 17px;
  letter-spacing: 0.5px;
  transition: 0.5s;
  text-decoration: none;
  
  
}
.nav_links:hover{
  color: black;
}



.shopping-cart {
  width: 750px;
  height: 735px;
  margin: 80px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
 
  display: flex;
  flex-direction: column;
}
.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 28px;
  font-weight: 400;
}
 
.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}
 
.item:nth-child(3) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}
.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}


 
.image {
  margin-right: 95px;
  height: 80px;
  display:flex;
  width:50px;
  
 
}

.image img{
  height: 14vh;
  width: 10vh;
  
}
 

.description {
  padding-top:10px;
  margin-right: 60px;
  width: 115px;
}
 
.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}
 
.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}
.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
 
button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}
 
button:focus,
input:focus {
  outline:0;
}
.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

.checkout-btn{
 position: relative;
 margin-top: 40px;
 margin-left: 67vh;
 margin-top: 1px;
 line-height: 60px;
 transition: all .2s ease-in-out;
}
.checkout-btn:hover{
  transform: scale(1.1);
}

.butn{
  font-size: 16px;
  width: 163px;
  height: 48px;
  color: red;
  background-color: rgb(14, 27, 101);
  cursor: pointer;
  transition: all .2s ease-in-out;
  letter-spacing: 1px;
  border: none;
  border-radius: 23px;
  
 
}
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 30vh;
    height: 30vh;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 10px 0px;
    
    
  }
  .description span{
    margin-left: 30vh;
  }

  .quantity {

    margin-left: 30vh;
    margin-top: -6px;
  }


  .total-price{
   margin-left: 30vh;
  }
  .buttons {
    margin-right: 10px;
  }

.checkout-btn{
  margin-left: 39vh;
  margin-top: 1px;
  
}

}

